body{
	Background: gray;
	font-family:verdana;
	max-width:900px;
	margin: auto;
}

.photo{
	border: 1px solid black;
	border-radius: 50%;
}


#title, .subtitle, .post_title{
color: black;
}

#title{
	font-size: 40px;
	text-transform: uppercase;
}

a {

	text-decoration: line-underline;
	color: black;
}

.post_title{
font-size:16px;
font-style:arial;
}

#title{
font-style:italic;

}

.post {
	background: cyan;
	padding: 15px;
	border: 3px solid red;
	margin-bottom: 15px;
	border-radius: 5px;


}


.post_content {
	margin: 0;
	margin-buttom: 15px;
	text-transform: capitalize;
	text-align:justify;

}

.post_image {
	margin-bottom: 15px;
	width:100%;
}


.contacts_list {
	padding:0;
	list-style-type:none;
	padding-left:15px;
}

.contacts_list li a {
	text-decoration:none;
}